@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-top-right {
  box-shadow: 8px -8px 12px rgba(0, 0, 0, 0.2); /* right + top */
}
